<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joke Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website with funny jokes">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <div class="heading">
        <h1>Have a Laugh</h1>
    </div>

    <div class="joke-card">

        <div id="question">
            <h3> <%= question %> </h3>
        </div>
        <div id="answer">
            <h3> <%= answer %> </h3>
        </div>

        <div class="category-select">
            <select id="joke-category" name="category">
                <option value="random">Random</option>
                <option value="general">General</option>
                <option value="knock-knock">Knock-knock</option>
                <option value="programming">Programming</option>
            </select>
        </div>

    </div>
</body>
</html>