<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Joke Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A website with funny jokes" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    
    <div class="heading">
      <h1>Have a Laugh</h1>
    </div>

    <div class="joke-card">

      <div class="content">
        <div id="question">
          <h3><%= question %></h3>
        </div>
        <div id="answer">
          <h3><%= answer %></h3>
        </div>
      </div>

      <div class="cta">
        <div class="category-select">
          <select
            class="form-select"
            aria-label="Default select example"
            id="joke-category"
            name="category"
          >
            <option selected value="random">Random</option>
            <option value="general">General</option>
            <option value="knock-knock">Knock-knock</option>
            <option value="programming">Programming</option>
          </select>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
