:root{
    --form-color: white;
    --text-color: black;
    --btn-color: purple;
}

*{
    margin: 0;
    padding: 0;
    /*width: 100%;*/
}

body{
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-content: center;
}



.heading{
    justify-self: center;
    padding: 20px;
}

.heading h1{
    place-self: center;
    font-family: "Quicksand", Courier, monospace;
    font-weight: 700;
    font-size: 5rem;
    justify-self: center;
    text-align: center;
}

.joke-card{
    background-color: purple;
    border-width: 10px;
    border-color: black;

    width: 60%;
    height: 50%;
    align-self: center;
    justify-self: center;
    padding: 20px;
    border-radius: 20px;

    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.joke-card h3{
    display: flex;
    height: 100%;
    align-items: center;
    place-self: center;
    justify-content: center;

    color: var(--form-color);

    font-family: "Quicksand", Courier, monospace;
    font-weight: 100;
}


.category-select{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-select select{
    padding: 10px;
    padding-right: 20px;
    background-color: purple;
    border-radius: 10px;
    color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.category-select select option{
    background-color: purple;
    border-radius: 20px;
    color: white;
}


#question, #answer{
    margin-top: 10px;
    color: black;
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 30px;

    overflow-x: hidden;
    overflow-y: auto;
}

#question::-webkit-scrollbar , #answer::-webkit-scrollbar{
    width: 5px;
}

#question::-webkit-scrollbar-thumb , #answer::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

#question::-webkit-scrollbar-track , #answer::-webkit-scrollbar-track {
    background: rgb(205, 55, 205);
    border-radius: 5px;
}

#answer {
    align-self: center;
    margin-top: 10px;
}

@media (max-width: 750px) {
    body {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh 70vh;
    }

    .joke-card{
        align-self: start;
        width: 80%;
        height: 70%;
    }

    #question, #answer{
        font-size: 24px;
    }
}